# Copie este arquivo para .env e preencha com suas credenciais

# URL do json-server (exposta via ngrok ou IP local)
EXPO_PUBLIC_API_URL=https://SEU-NGROK.ngrok-free.app

# Configurações do Broker HiveMQ
EXPO_PUBLIC_MQTT_HOST=SEU_HOST.hivemq.cloud
EXPO_PUBLIC_MQTT_PATH=/mqtt
EXPO_PUBLIC_MQTT_PORT=8884
EXPO_PUBLIC_MQTT_USER=SEU_USUARIO
EXPO_PUBLIC_MQTT_PASS=SUA_SENHA
